<div class="container-fluid toppadding">
  <h1 class="text-center">
    Create and manage your business ideas
    <small class="text-muted">and validate that they work</small>
  </h1>
  <h2 class="text-center"><a href="/canvas">Get Started!</a><h2>
</div>
