// Place all the styles related to the Canvasses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.canvas {
  border-color: #000000;
  border-width: 1px;
  border-style: solid;
}
.demi {
  height: 50%;
}
.fullh {
  min-height: 400px;
}
.lastrow {
  min-height: 200px;
}
.canvas-title {
  text-decoration: underline;
  text-align: center;
  text-transform: uppercase;

}
.toppadding {
  padding-top: 50px;
}
